# Data Frame

In [6]:
import pandas as pd

I=[1,2,3,4,5,6]

var =pd.DataFrame(I)

print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [21]:
dic={"a":['1','2','3','4'],"b":['5','6','7','8'],1:['1','2','3','4']}

var2=pd.DataFrame(dic)
# var3=pd.DataFrame(dic,columns=["a"],index=["a","s","d","f"])
var2
# var3

   a  b  1
0  1  5  1
1  2  6  2
2  3  7  3
3  4  8  4

In [22]:
list=[[1,2,3,4,5],[12,13,14,15,16]]

var4=pd.DataFrame(list)
var4

    0   1   2   3   4
0   1   2   3   4   5
1  12  13  14  15  16

In [25]:
sr={"s":pd.Series([1,2,3,4,]),"r":pd.Series([5,6,7,8])}

var6=pd.DataFrame(sr)
print(var6)
print(type(var6))

   s  r
0  1  5
1  2  6
2  3  7
3  4  8
<class 'pandas.core.frame.DataFrame'>