In [2]:
import pandas as pd

var=pd.DataFrame({'A':[1,2,3,4],'B':[1,2,3,4]})
var

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

In [4]:
var['C']=var['A']*var['B']
var

   A  B   C
0  1  1   1
1  2  2   4
2  3  3   9
3  4  4  16

In [5]:
var1=pd.DataFrame({"A":[10,20,30,40],"B":[15,16,17,18]})
var1

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [7]:
var1["Print"]=var1["A"]<=20
var1["PrintB"]=var1["B"]<=16
var1

    A   B  Print  PrintB
0  10  15   True    True
1  20  16   True    True
2  30  17  False   False
3  40  18  False   False