# Interpolate

In [13]:
import pandas as pd

var =pd.read_csv("C:\\Users\\Harsh Verma\\Documents\\Panda\\stock_data1.csv")
var

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOL,CHANGE %
0,1,ELECTTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Com.,5754.0,154.0,37.22500
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.95345
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.04920
4,5,21STCENMGM,21st Century Management Serv.,110375.0,NaN,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,NaN,8356.0,87.85261
6,7,NaN,Uniphos Enterprises Limited,NaN,8357.0,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim.,NaN,7314.0,87.10140
8,9,SKMEGGPROD,SKM Egg Products Export (India) Lim.,NaN,8777.0,18.80412
9,10,SWELECTES,NaN,NaN,NaN,18.98730
10,11,NAHARPOLY,Nahar Poly Films Limited,38574.0,3155.0,15.55583
11,12,PODDARHOUS,Poddar Housing and Development,1.0,3012.0,25.88360
12,13,LINC,Linc Limited,60551.0,4076.0,14.85367
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.85367

In [5]:
var.interpolate()

C:\Users\Harsh Verma\AppData\Local\Temp\ipykernel_5780\1566664964.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate()

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOL,CHANGE %
0,1,ELECTTHERM,Electrotherm (India) Limited,473907.000000,9457.0,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Com.,5754.000000,154.0,37.22500
2,3,HINDCON,Hindcon Chemicals Limited,304759.000000,9248.0,32.95345
3,4,GKWLIMITED,GKW Limited,21375.000000,711.0,30.04920
4,5,21STCENMGM,21st Century Management Serv.,110375.000000,4533.5,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,98408.166667,8356.0,87.85261
6,7,NaN,Uniphos Enterprises Limited,86441.333333,8357.0,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim.,74474.500000,7314.0,87.10140
8,9,SKMEGGPROD,SKM Egg Products Export (India) Lim.,62507.666667,8777.0,18.80412
9,10,SWELECTES,NaN,50540.833333,5966.0,18.98730
10,11,NAHARPOLY,Nahar Poly Films Limited,38574.000000,3155.0,15.55583
11,12,PODDARHOUS,Poddar Housing and Development,1.000000,3012.0,25.88360
12,13,LINC,Linc Limited,60551.000000,4076.0,14.85367
13,14,LINC123,Linc Limited123,60550.000000,4075.0,15.85367

In [9]:
var.interpolate(method="linear",axis=0)

C:\Users\Harsh Verma\AppData\Local\Temp\ipykernel_5780\3195347084.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(method="linear",axis=0)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOL,CHANGE %
0,1,ELECTTHERM,Electrotherm (India) Limited,473907.000000,9457.0,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Com.,5754.000000,154.0,37.22500
2,3,HINDCON,Hindcon Chemicals Limited,304759.000000,9248.0,32.95345
3,4,GKWLIMITED,GKW Limited,21375.000000,711.0,30.04920
4,5,21STCENMGM,21st Century Management Serv.,110375.000000,4533.5,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,98408.166667,8356.0,87.85261
6,7,NaN,Uniphos Enterprises Limited,86441.333333,8357.0,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim.,74474.500000,7314.0,87.10140
8,9,SKMEGGPROD,SKM Egg Products Export (India) Lim.,62507.666667,8777.0,18.80412
9,10,SWELECTES,NaN,50540.833333,5966.0,18.98730
10,11,NAHARPOLY,Nahar Poly Films Limited,38574.000000,3155.0,15.55583
11,12,PODDARHOUS,Poddar Housing and Development,1.000000,3012.0,25.88360
12,13,LINC,Linc Limited,60551.000000,4076.0,14.85367
13,14,LINC123,Linc Limited123,60550.000000,4075.0,15.85367

In [15]:
var.interpolate(limit_direction="both",limit=2)

C:\Users\Harsh Verma\AppData\Local\Temp\ipykernel_5780\3871155077.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="both",limit=2)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOL,CHANGE %
0,1,ELECTTHERM,Electrotherm (India) Limited,473907.000000,9457.0,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Com.,5754.000000,154.0,37.22500
2,3,HINDCON,Hindcon Chemicals Limited,304759.000000,9248.0,32.95345
3,4,GKWLIMITED,GKW Limited,21375.000000,711.0,30.04920
4,5,21STCENMGM,21st Century Management Serv.,110375.000000,4533.5,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,98408.166667,8356.0,87.85261
6,7,NaN,Uniphos Enterprises Limited,86441.333333,8357.0,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim.,NaN,7314.0,87.10140
8,9,SKMEGGPROD,SKM Egg Products Export (India) Lim.,62507.666667,8777.0,18.80412
9,10,SWELECTES,NaN,50540.833333,5966.0,18.98730
10,11,NAHARPOLY,Nahar Poly Films Limited,38574.000000,3155.0,15.55583
11,12,PODDARHOUS,Poddar Housing and Development,1.000000,3012.0,25.88360
12,13,LINC,Linc Limited,60551.000000,4076.0,14.85367
13,14,LINC123,Linc Limited123,60550.000000,4075.0,15.85367