# Merge

In [23]:
import pandas as pd

var1=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2=pd.DataFrame({"A":[1,2,3,5],"B1":[21,22,23,24]})

pd.merge(var1,var2)

   A   B  B1
0  1  11  21
1  2  12  22
2  3  13  23

# Concat

In [20]:
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([11,21,31,41])

pd.concat([])

0     1
1     2
2     3
3     4
0    11
1    21
2    31
3    41
dtype: int64

In [34]:
d1=pd.DataFrame({"D":[1,2,3,4],"B":[11,12,13,14]})
d2=pd.DataFrame({"A":[1,2,3,5],"C":[21,22,23,24]})

pd.concat([d1,d2],axis=1,join="inner")

   D   B  A   C
0  1  11  1  21
1  2  12  2  22
2  3  13  3  23
3  4  14  5  24