# join

In [17]:
import pandas as pd

var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"c":[10,20],"B":[11,22]},index=["a","b"])

var2.join(var1,how="outer",lsuffix="_12",rsuffix="_123")

      c  B_12  A  B_123
a  10.0  11.0  1     11
b  20.0  22.0  2     12
c   NaN   NaN  3     13
d   NaN   NaN  4     14

# Append

In [21]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"c":[10,20],"B":[11,22]})

var_new= pd.concat([var1,var2],ignore_index=True)
var_new

     A   B     c
0  1.0  11   NaN
1  2.0  12   NaN
2  3.0  13   NaN
3  4.0  14   NaN
4  NaN  11  10.0
5  NaN  22  20.0